body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background: #343838;
  color: #e9e9e9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}
#intro {
  flex: 3;
  overflow: hidden;
  background: #00DFFC;
  color: #ffffffdd;
  padding: 0 0.5em;
}
#current-time {
  flex: 1;
  overflow: hidden;
background: #00B4CC;
padding: 0 1em;
display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#current-time div {
  flex: 1;
}
#button-wrapper {
  background: #005F6B;
  color: #ffffff;
}
#button-wrapper div:last-of-type {
    background: #ff7676;
}
.legend {
  flex: 1;
  overflow: hidden;
  background: #008C9E;
  color: #ffffff;
}
#zones-list {
  overflow-y: scroll;
    flex: 3;
    font-size: 0.8em;
}
.timezone-picker {
  justify-content: center;
    align-items: center;
    height: 80%;
}
.react-datalist-container {
  width: 100%;
  height: 100%;
}
.react-datalist-input {
  width: 80%;
    height: 100%;
    font-size: 1em;
    text-align: center;
    background: transparent;
    color: #e9e9e9;
    border: 1px solid #00DFFC;
    box-sizing: border-box;
}
#intro h1 {
  color: #FFFFFF;
  font-size: 1em;
}
.zone-wrapper {
      display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    height: 5em;
    border-bottom: 1px solid #00DFFC;
    background: #343838;
}
.date-time-wrapper {
  display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0.5em;
}
.date {
  flex: 1;
  width: 100%;
  display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 0.2em;
}
.time{
  flex: 3;
    font-size: 2.5em;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
}
.select {
  border: 1px solid #00DFFC;
    border-radius: 0;
    -webkit-appearance: none;
    height: 100%;
    padding: 0 0.25em;
    background: none;
    font-size: 1em;
    width: 100%;
}
#button-wrapper{
  display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#button-wrapper div {
  flex: 1;
  height: 100%;
    line-height: 200%;
    font-size: 1.5em;
  }
.date .select {
  color: #898989;
}
.legend {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3em;
    align-items: center;
    border-bottom: 1px solid #333333;
}
.legend div {
  flex: 1;
}
.overlap {
   display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
#current-time {
  color: #ffffff;
}
@media screen and (min-width: 993px){
  #button-wrapper div:hover {
    color: #ffffff;
    background: #333333;
    transition: all 0.1s ease-in;
    cursor: pointer;
  }

   .select:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    background: #333333;
    cursor: pointer;
  }
}
@media screen and (max-width: 360px){
.time{
font-size: 1.5em;
}
.legend {
font-size: 0.8em;
}
.react-datalist-input {
  width: 100%;
  text-align: end
}
}
@media screen and (min-width: 375px){
.time{
font-size: 2.1em;
}
.legend div{
font-size: 1em;
}
.legend {
    flex: 0.6;
  }
.react-datalist-input {
  width: 100%;
    text-align: left;;
  }
#intro {
  flex: 2;
}
}
@media screen and (min-width: 414px){
#intro {
  font-size: 1.2em;
}
#current-time {
  flex: 0.8;
}
.zone-wrapper {
  font-size: 1.1em;
}
}
@media screen and (min-width: 768px){
#intro {
  font-size: 2em;
}
#current-time {
  flex: 0.5;
    font-size: 1.1em;
}
.legend {
  font-size: 1.6em;
  flex: 0.5;
}
.react-datalist-input {
  text-align: center;
}
.zone-wrapper {
      font-size: 1.3em;
}
#button-wrapper div {
flex: 1 1;
    height: 100%;
    line-height: 300%;
    font-size: 1.5em;
}
}
@media screen and (min-width: 992px){
  #root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 0.6em;
  }
  .App {
        width: 60%;
    margin: 0 auto;
    box-shadow: 0 0 6em #00000099;
    height: 90%;
  }
}
@media screen and (min-width: 1200px){
#root {
  font-size: 0.6em;
}
}
@media screen and (min-width: 1920px){
#root {
  font-size: 1em;
}
}
@media screen and (min-width: 3840px){
#root {
  font-size: 2em;
}
}